<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h1>로그인 페이지</h1>

<form action="/user/login" method="post">
    <label for="loginId">아이디:</label>
    <input type="text" id="loginId" name="loginId" required><br><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">로그인</button>
</form>

<p style="margin-top: 15px;">
    <a href="/board/list">로그인 없이 게시판 보기</a>
</p>

<p>
    <a href="/user/join">아직 계정이 없나요? 회원가입</a>
</p>
</body>
</html>
